.app-box-css {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  margin: 9px auto auto;
  overflow: hidden;
  border: none;
  font: normal 16px/50px Arial, Helvetica, sans-serif;
  color: rgb(48, 48, 48);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: auto | element | none;
  background: rgba(242,242,242,1);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
}
.applist-title-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 930px;
  height: 30px;
  margin: 40px 0 0;
  border: none;
  font: normal 17px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  text-indent: 11px;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  background: rgb(255, 93, 0);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;

}
.image-div-css {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  bottom: 0;
  margin: 5px auto 0;
  overflow: hidden;
  border: none;
  font: normal 16px/50px Arial, Helvetica, sans-serif;
  color: rgb(48, 48, 48);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  background: rgba(130, 130, 130, 0);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
}
.app-title-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  overflow: hidden;
  border: none;
  font: normal 16px/50px Arial, Helvetica, sans-serif;
  color: rgb(48, 48, 48);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: rgba(130, 130, 130, 0);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
}
.Appmenu-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 930px;
  height: 140px;
  top: 0;
  margin: 0 auto;
  border: none;
  font: normal 18px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.Appmenu-small3-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 430px;
  height: 140px;
  top: 0;
  margin: 0 auto;
  border: none;
  font: normal 18px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.Appmenu-small4-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 530px;
  height: 140px;
  top: 0;
  margin: 0 auto;
  border: class="support css-value">none;
  font: normal 18px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}