body {
    background-color: #575757;
}
.top-bar-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 1200px;
  height: 50px;
  margin: auto;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  background: rgb(255, 93, 0);
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) inset, 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) inset, 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.logo-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 130px;
  margin: auto;
  overflow: hidden;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
}
.applogo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 130px;
  margin: 0px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  background: #6b6464;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.53) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.53) ;
}
.title-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 30px 0 16px;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
}
.bg-css {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  height: 1550px;
  margin: auto;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  background: -webkit-linear-gradient(-237.995deg, rgb(255,255,255) 0, rgb(229,229,229) 46%, rgb(229,227,227) 100%), rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(327.995deg, rgb(255,255,255) 0, rgb(229,229,229) 46%, rgb(229,227,227) 100%), rgba(0, 0, 0, 0);
  background: linear-gradient(327.995deg, rgb(255,255,255) 0, rgb(229,229,229) 46%, rgb(229,227,227) 100%), rgba(0, 0, 0, 0);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.info-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 730px;
  margin: auto;
  padding: 5px;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;          
  background: rgba(0, 0, 0, 0);   
}
.info-text-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 40px;
  padding: 50px 0 15px;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;        
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.title-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  height: 25px;
  right: 50%;
  left: 50%;
  margin: 15px auto auto;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  background: rgb(209, 209, 209);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.command-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  height: 150px;
  margin: auto;
  padding: 19px 8px 5px;
  border: none;
  font: normal normal bold 16px/normal Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgb(237, 237, 237);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.distro-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 600px;
  height: auto;
  right: 50%;
  left: 50%;
  margin: 0 auto auto;
  border: none;
  font: normal normal bold 16px/5 Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;        
  background: rgb(237, 237, 237);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 600px;
  min-height: 100px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 100px;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;        
  background: -webkit-linear-gradient(-237.995deg, rgb(255,255,255) 0, rgb(229,229,229) 46%, rgb(229,227,227) 100%), rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(327.995deg, rgb(255,255,255) 0, rgb(229,229,229) 46%, rgb(229,227,227) 100%), rgba(0, 0, 0, 0);
  background: linear-gradient(327.995deg, rgb(255,255,255) 0, rgb(229,229,229) 46%, rgb(229,227,227) 100%), rgba(0, 0, 0, 0);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
}
.distro-choosebg {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0 auto auto;
  border: none;
  font: normal normal bold 16px/5 Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;        
    background: #ffffff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.comment-box-css {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 740px;
  height: 540px;
  right: 50%;
  left: 50%;
  margin: 37px auto auto;
  overflow: hidden;
  padding: auto;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  background: rgba(219,219,219,1);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms, all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.space-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 930px;
  height: 110px;
  top: 0;
  margin: 0 auto;
  border: none;
  font: normal 18px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}
.slideshow-cont {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 640px;
  height: 440px;
  margin: auto;
  padding: auto;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
}
.disto-box {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  margin: 0 auto 0 10px;
  overflow: hidden;
  border: none;
  font: normal 16px/50px Arial, Helvetica, sans-serif;
  color: rgb(48, 48, 48);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;
  background: #E7E7E7;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
}
.bar1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: 50px;
  margin: auto;
  border: none;
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  user-drag: none;    
  background: rgb(255, 93, 0);
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) inset, 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) inset, 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  -o-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms;
}